body {
    margin: 0;
    background-color: black;
    color: rgb(237, 89, 3);
    font-family: "Space Mono", serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.content {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}
.message {
    font-size: 27px;
    line-height: 1.5;
    text-align: left;
    margin-left: 50px; 
    width: 40vw; 
    opacity: 0; 
    animation: fadeIn 2s forwards; 
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.continue-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: rgb(237, 89, 3);
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.continue-link:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(237, 89, 3);
    border: 2px solid rgb(237, 89, 3);
}