body {
    margin: 0;
    background-color: black;
    color: rgb(237, 89, 3);
    font-family: "Space Mono", serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
}

.message {
    font-size: 27px;
    line-height: 1.5;
    text-align: left;
    width: 40vw;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.left {
    margin-left: 50px;
}

.right {
    margin-left: 50px;
    margin-right: 0;
}

.left + .right {
    margin-left: 50px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.continue-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: rgb(237, 89, 3);
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.continue-link:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(237, 89, 3);
    border: 2px solid rgb(237, 89, 3);
}




@media (max-width: 600px) {
    body {
        padding: 20px;
    }
    
    .message {
        font-size: 20px;
        width: 80vw;
    }
    
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .message.left,
    .message.right {  
        margin-left: 7vw;
        width: 80vw;
    }
    
    .message.right {  
        margin-top: 10px;
    }
    
    .continue-link {
        font-size: 16px;
        padding: 8px 15px;
        right: 20px;
    }
}
